*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 0 200px 200px 200px;
}

header {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    border-bottom: 2px solid black;
    margin-bottom: 60px;
}

nav {
    display: flex;
    gap: 60px;

    & button {
        font-size: 30px;
        background-color: transparent;
        border: none;
        text-decoration: underline;
        cursor: pointer;
    } 
}