*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

nav {
    display: flex;
    gap: 60px;

    & button {
        font-size: 30px;
        background-color: transparent;
        border: none;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
    } 
}

footer {
    text-align: center;
    border-top: 2px solid black;
    padding: 40px 0;
    font-size: 30px;
}